.rows {
    display: flex;
    width: fit-content;
}

.cells {
    display: flex;
    flex-direction: column;
    border-top: 1px solid purple;
    border-left: 1px solid purple;
    width: 35px;
    height: 35px;
}

.row-9 {
    border-bottom: 1px solid purple;  
}

.cell-9 {
    border-right: 1px solid purple;
}

#grid-container {
    margin: 100px;
    display: flex;
    gap: 200px;
}

